<table border="">
  <form action="/updateData" method="post">
    <tr>
      <td>name</td>
      <input name="id" type="hidden" value="<%= id %>" />
      <td><input name="userName" type="text" value="<%= data %>" /></td>
    </tr>
    <tr>
      <td></td>
      <td><button>Submit</button></td>
    </tr>
  </form>
</table>
